[Desktop Entry]
Name=macalculator
Version=1.0.0+1
Comment=Una calculadora desarrollada para MAC
Exec=calculadora
Icon=${SNAP}/meta/gui/macalculator.png
Terminal=false
Type=Application
Categories=Education;
